.wrapper {
  max-width: 1050px;
  margin: 0 auto;
}
.header__conainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 80%; */
  padding: 15px 10px 10px 15px;
}

.header__background {
  width: 100%;
  background-color: #333333;
  /* height: 100px; */
}

.header__title {
  color: white;
  font-size: 30px;
}
.header__log {
  border-radius: 30px;
  background: #4fa4fb;
  width: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 50px;
  margin-right: 25px;
  padding: 0 20px;
  box-sizing: border-box;

  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.header__navigate ul {
  list-style: none;
  display: flex;
  position: relative;
}
.header__navigate ul li {
  margin: 0 25px 0 25px;
}
.header__navigate ul li a {
  border: none;
  text-decoration: none;
  color: #b6b6b6;
}

.header__navigate li.dot a:first-child {
  color: white;
}
.header__navigate li.dot:first-child::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 115px;
  width: 7px;
  height: 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.header__navigate-item {
  position: relative;
}
.header__navigate-item a:first-child {
  color: white;
}
.header__navigate-item::before {
  content: "●";
  color: white;
  position: absolute;
  top: 15px;

  left: 48%; /* Регулюємо позицію крапки */

  border-radius: 50%;
}
/* .header__navigate li.dot:nth-child(2):before {
  content: "";
  position: absolute;
  top: 27px;
  left: 258px;
  width: 7px;
  height: 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.header__navigate li.dot:last-child::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 428px;
  width: 7px;
  height: 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
} */

@media screen and (max-width: 1000px) {
  .header__navigate-item {
    width: fit-content;
  }
  .header__navigate-item::before {
    top: 0%;
    left: 100%;
    margin-left: 10px;
  }
}
/* .header__navigate li {
  width: 60px;
} */

.header__log {
  cursor: pointer;
}

.header__language {
  /* width: 30px; */
  flex-basis: content;
}
.right-arrow::after {
  left: 6px;
}
.right-arrow::before {
  left: 5px;
}
.header__burger-menu::before,
.header__burger-menu::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.5s ease;
}
.header__burger-menu::after {
  top: 20px;
}
.header__burger-menu {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 23.5px;
  visibility: hidden;
}
.header__burger-menu span {
  position: absolute;
  width: 30px;
  top: 10px;
  height: 3px;
  background-color: #fff;
}
.header__navigate-desktop select {
  width: 50px;
  padding-right: 0px;
  padding-left: 5px;
  height: 30px;
  margin: 0 0;
  align-self: flex-end;
  justify-self: flex-end;
}
.header__navigate-desktop {
  margin-right: 20px;
}
.burger-close span {
  display: none;
}
.burger-close::after {
  transform: translate(0px, -10px) rotate(45deg);
  transition: transform 0.5s ease;
}
.burger-close::before {
  transform: translate(0px, 10px) rotate(135deg);
  transition: transform 0.5s ease;
}
@media screen and (max-width: 1000px) {
  .header__burger-menu {
    visibility: visible;
  }

  .header__navigate-desktop,
  .header__log {
    display: none;
  }
  .burger-logout {
    display: flex;
  }

  .current-week {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .header__conainer {
    box-sizing: border-box;
    padding: 10px 10px;
  }
  .current-week {
    flex-direction: column;
  }
}
