.down-section__trans-item {
    display: flex;
  
}
.down-section__typeOf-payment {
    flex-basis: 126px;
    display: flex;
    justify-content: center;
}

.down-section__check-price  {
    flex-basis: 89.5px;
}

.down-section__status {
    flex-basis: 120px;
}